<div>
<aside>
<ul>
    <li><a href="/index">Página Inicial</a></li>
    <li><a href="">Atribuir Demandas</a></li>
    <li><a href="">Usuários</a></li>
    <li><a href="">Zootécnico</a></li>
    <li><a href="">Sanitário</a></li>
    <li><a href="">Produção</a></li>
    <li><a href="">Configurações</a></li>
</ul>
</aside>
</div>