<nav class="navbar navbar-light " style="background-color: #FFCF78;" >
    <a class="navbar-brand" href="#" style="margin: 0px 25px 10px 10px;"><img src="imgs/logo.svg" alt="" width="120px" ></a>
  </nav>