<!-- sidebar.html -->
<div class="sidebar">
  <ul>
      <li class="sidebar-item" id="home">
          <img src="imgs/icons/home.svg" alt="Página inicial" class="sidebar-icon">
          <a href="/">Página inicial</a>
      </li>
      <li class="sidebar-item" id="assign-tasks">
          <img src="imgs/icons/demanda.svg" alt="Atribuir demandas" class="sidebar-icon">
          <a href="/demandas" >Atribuir demandas</a>
      </li>
      <li class="sidebar-item" id="employees">
          <img src="imgs/icons/user.svg" alt="Funcionários" class="sidebar-icon">
          <a href="/funcionarios">Funcionários</a>
      </li>
      <li class="sidebar-item" id="herds">
          <img src="imgs/icons/bufaloicone.svg" alt="Rebanhos" class="sidebar-icon">
          Rebanhos
      </li>
      <li class="sidebar-item" id="zootecnico-control">
          <img src="imgs/icons/charts.svg" alt="Controle zootécnico" class="sidebar-icon">
          Controle zootécnico
      </li>
      <li class="sidebar-item" id="sanitary-control">
          <img src="imgs/icons/charts.svg" alt="Controle sanitário" class="sidebar-icon">
          Controle sanitário
      </li>
      <li class="sidebar-item" id="reproduction-control">
          <img src="imgs/icons/charts.svg" alt="Controle reprodução" class="sidebar-icon">
          Controle reprodução
      </li>
  </ul>
</div>


<!-- script.js -->
<script>
document.addEventListener('DOMContentLoaded', function () {
const sidebarItems = document.querySelectorAll('.sidebar-item');

sidebarItems.forEach(item => {
  item.addEventListener('click', function () {
      sidebarItems.forEach(i => i.classList.remove('selected'));
      this.classList.add('selected');
  });
});
});

</script>