<div style="display: flex;">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 "
      style="width: 380px; background-color: #F5F5F5;height: 130vh;  ">
  
      <div class="list-group list-group-flush border-bottom scrollarea">
  
        <a href="/" class="list-group-item list-group-item-action py-3 lh-tight" style="background-color: #E0E0E0;">
  
          <div class="d-flex w-100 align-items-center" style="" href="/views/index.ejs">
            <img src="imgs/icons/home.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
            <strong class="mb-1" style="font-size: 20px;">Página Inicial</strong>
          </div>
  
          <div class="col-10 mb-1 small"></div>
        </a>
  
  
        <a href="/demandas" class="list-group-item list-group-item-action py-3 lh-tight" style="background-color: #F5F5F5;">
  
          <div class="d-flex w-100 align-items-center" style="">
            <img src="imgs/icons/demanda.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
            <strong class="mb-1" style="font-size: 20px;">Atribuir Demandas </strong>
          </div>
  
          <div class="col-10 mb-1 small"></div>
        </a>
        
        <a href="/funcionarios" class="list-group-item list-group-item-action py-3 lh-tight" style="background-color: #F5F5F5;">
  
          <div class="d-flex w-100 align-items-center" style=""  href="/views/funcionarios.ejs">
            <img src="imgs/icons/user.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
            <strong class="mb-1" style="font-size: 20px;">Funcionários</strong>
          </div>
  
          <div class="col-10 mb-1 small"></div>
        </a>
  
        <a href="/rebanhos" class="list-group-item list-group-item-action py-3 lh-tight" style="background-color: #F5F5F5;">
  
          <div class="d-flex w-100 align-items-center" style="" href="/views/rebanhos.ejs">
            <img src="imgs/icons/demanda.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
            <strong class="mb-1" style="font-size: 20px;">Rebanhos</strong>
          </div>
  
          <div class="col-10 mb-1 small"></div>
        </a>
  
        <a href="/zootecnico" class="list-group-item list-group-item-action py-3 lh-tight" style="background-color: #F5F5F5;">
  
          <div class="d-flex w-100 align-items-center" style="" href="/views/zootecnico.ejs">
            <img src="imgs/icons/charts.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
            <strong class="mb-1" style="font-size: 20px;">Controle Zootécnico</strong>
          </div>
  
          <div class="col-10 mb-1 small"></div>
        </a>
        <a href="/sanitario" class="list-group-item list-group-item-action py-3 lh-tight" style="background-color: #F5F5F5;">
  
          <div class="d-flex w-100 align-items-center" style="" href="/views/sanitario.ejs">
            <img src="imgs/icons/charts.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
            <strong class="mb-1" style="font-size: 20px;">Controle Sanitário</strong>
          </div>
  
          <div class="col-10 mb-1 small"></div>
        </a>
  
  
        <a href="reproducao" class="list-group-item list-group-item-action py-3 lh-tight" style="background-color: #F5F5F5;">
  
          <div class="d-flex w-100 align-items-center" style="" href="/views/reproducao.ejs">
            <img src="imgs/icons/charts.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
            <strong class="mb-1" style="font-size: 20px;">Controle Reprodução</strong>
          </div>
  
          <div class="col-10 mb-1 small"></div>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" style="background-color: #F5F5F5;">
  
          <div class="d-flex w-100 align-items-center" style="">
            <img src="imgs/icons/config.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
            <strong class="mb-1" style="font-size: 20px;">Configurações</strong>
          </div>
  
          <div class="col-10 mb-1 small"></div>
        </a>
  
      </div>
    </div>
