<%- include('partials/header.ejs') %>

<div class="container-login-cadastro">
    <div class="image-side">
        <img src="imgs/fundo-login.png" alt="Imagem de Login" class="background-image">
        <img src="imgs/logo-svg.svg" alt="Bem Vindo" class="foreground-image">
    </div>
    <div class="form-side">
        <% if(messages.danger) { %>
            <div class="alert alert-danger">
                <%= messages.danger %>
            </div>
        <% } %>
        <% if(messages.success) { %>
            <div class="alert alert-success">
                <%= messages.success %>
            </div>
        <% } %>
        <form action="/createUser" method="post">
            <h2>Cadastre-se</h2>
            <p class="login-info">Crie sua conta agora. Entraremos em contato depois da criação.</p>
            <div class="form-group">
                <label for="name">Nome de usuário</label>
                <input type="text" id="name" name="name" placeholder="Digite o seu nome de usuário" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" placeholder="exemplo@email.com" required>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmar senha</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <button type="submit">Cadastrar</button>
            <!-- <p>Já possui conta?Clique <a style="color: #864E04; text-decoration: none;" href="/login">aqui</a>  para fazer login</p> -->
        </form>
        <div class="signup" style="margin-top: 50px;">
            <h2>Já possui conta?</h2>
            <p class="signup-info">Faça login com os dados inseridos durante seu cadastro.</p>
            <button class="signup-button">
                <a style="color: #864E04; text-decoration: none;" href="/login">Log-in</a>
            </button>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
