<%- include ('partials/header.ejs') %>
    <%- include ('partials/nav.ejs') %>

    <div style="display: flex;">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 " style="width: 380px; background-color: #F5F5F5;height: 100vh;  ">
        
        <div class="list-group list-group-flush border-bottom scrollarea">
          
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" style="background-color: #E0E0E0;">
                
                <div class="d-flex w-100 align-items-center" style="">
                    <img src="imgs/icons/home.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
                    <strong class="mb-1" style="font-size: 20px;" >Pagina inicial</strong>
                </div>
                
                <div class="col-10 mb-1 small"></div>
            </a>
            
          
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" style="background-color: #F5F5F5;">
                
              <div class="d-flex w-100 align-items-center" style="">
                  <img src="imgs/icons/demanda.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
                  <strong class="mb-1" style="font-size: 20px;" >Atribuir demandas </strong>
              </div>
              
              <div class="col-10 mb-1 small"></div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" style="background-color: #F5F5F5;">
                
            <div class="d-flex w-100 align-items-center" style="">
                <img src="imgs/icons/demanda.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
                <strong class="mb-1" style="font-size: 20px;" >Rebanhos</strong>
            </div>
            
            <div class="col-10 mb-1 small"></div>
        </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"  style="background-color: #F5F5F5;">
                
            <div class="d-flex w-100 align-items-center" style="">
                <img src="imgs/icons/user.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
                <strong class="mb-1" style="font-size: 20px;" >Usuarios cadastrados</strong>
            </div>
            
            <div class="col-10 mb-1 small"></div>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"  style="background-color: #F5F5F5;">
                
          <div class="d-flex w-100 align-items-center" style="">
              <img src="imgs/icons/charts.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
              <strong class="mb-1" style="font-size: 20px;" >Controle zootécnico</strong>
          </div>
          
          <div class="col-10 mb-1 small"></div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"  style="background-color: #F5F5F5;">
                
        <div class="d-flex w-100 align-items-center" style="">
            <img src="imgs/icons/charts.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
            <strong class="mb-1" style="font-size: 20px;" >Controle sanitario</strong>
        </div>
        
        <div class="col-10 mb-1 small"></div>
    </a>
          
          
    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" style="background-color: #F5F5F5;" >
                
      <div class="d-flex w-100 align-items-center" style="">
          <img src="imgs/icons/charts.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
          <strong class="mb-1" style="font-size: 20px;" >Controle reprodução</strong>
      </div>
      
      <div class="col-10 mb-1 small"></div>
  </a>
  <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"  style="background-color: #F5F5F5;">
                
    <div class="d-flex w-100 align-items-center" style="">
        <img src="imgs/icons/config.svg" alt="" class="ml-2" width="30px" style="margin: 0 10px 0 0;">
        <strong class="mb-1" style="font-size: 20px;" >Configurações</strong>
    </div>
    
    <div class="col-10 mb-1 small"></div>
</a>
          
        </div>
      </div>

      <div style="display: flex; width: 100%;flex-direction: column;flex-direction: column;
      justify-content: flex-start; " >
      <div style="background-color: #F5F5F5; width: 100%;height: 70px; margin-bottom: 10px;">ssssssssss</div>
      <div style="background-color: #FFCF78; width: auto;height: auto; margin-left: 10px;margin-right: 10px;padding-left: 10px;padding-right: 10px;padding-top: 20px;margin-bottom: 20px;
      border-radius: 10px; display: flex;justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;" >
    <div>
        <p>
            Total de usuários dos sistema
            <br>Cadastrados: 4‎ ‎ ‎ ‎  Pendentes: <span>5</span>
        </p>
        
    </div>
    <p>|</p>
    <div>
        <p>
            Total de rebanhos registrados
            <br>Cadastrados: 4‎ ‎ ‎ ‎  Pendentes: 4
        </p>
    </div>
    <p>|</p>
    <div>
        <p>
            Total de bubalinos registrados
            <br>Cadastrados: 4‎ ‎ ‎ ‎  Pendentes: 4
        </p>
    </div>
    
    </div>
    </div>

    

    

</div>
        <%- include ('partials/footer.ejs') %>