 
    <!--  -->


    <%- include ('partials/header.ejs') %>
<div class="container-login-cadastro">
    <div class="image-side">
        <img src="imgs/fundo-login.png" alt="Imagem de Login" class="background-image">
        <img src="imgs/logo-svg.svg" alt="Bem Vindo" class="foreground-image">
    </div>
    <div class="form-side">
        <% if(messages.danger) { %>
            <div class="alert alert-danger">
                <%= messages.danger %>
            </div>
            <% } %>

                <% if(messages.success) { %>
                    <div class="alert alert-success">
                        <%= messages.success %>
                    </div>
                    <% } %>
        <form action="/authenticate" method="post">
            <h2>Login</h2>
            <p class="login-info">Faça login com os dados inseridos durante seu cadastro.</p>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="exemplo@email.com" required>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" name="password"
                placeholder="Insira a sua senha." id="passwordgit" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
        <div class="signup" style="margin-top: 50px;">
            <h2>Inscrever-se</h2>
            <p class="signup-info">Crie sua conta agora. Entraremos em contato depois da criação.</p>
            <button class="signup-button">
                <a style="color: #864E04; text-decoration: none;"
                                                        href="/cadastro">Cadastre-se</a>
            </button>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>