<%- include ('partials/header.ejs') %>

    

   
    








     <div class="section1">
        <div class="esquerdo">
            <div class="box1">
                <img src="/imgs/logo-svg.svg" alt="">

            </div>
        </div>
        <div class="direito">
            <div class="box2">
                <div class="col-md-6 col-sm-12 ajusta" style="display: flex; align-items: center;">

                    <div class="login-form" style="background-color: #FEF5E5; ">
                        <div class="login">
                            <h1 class="h1" style="font-family: 'Inter', sans-serif;font-weight: 600;">Login</h1>
                            <p>Faça login com os dados inseridos durante seu cadastro.</p>
                            <br>
                            <form action="/login" method="post">
                                <div class="form-group">
                                    

                                        


                                    <label  style="font-size: 15px;"><strong>Endereço de
                                            email</strong></label>
                                    <input  class="form-control" style="background-color:#FFF5F5 ;border: 1px black solid;"  type="email" name="email" placeholder="exemplo@email.com" required>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label style="font-size: 15px;"><Strong>Senha:</Strong></label>
                                    <input class="form-control" style="background-color:#FFF5F5 ;border: 1px black solid;" type="password" name="password" placeholder="Insira a sua senha." required>
                                        <br>
                                        
                                        
                                </div>

                                <br>
                                <button type="submit" class="btn btn-primary"
                                    style="width: 100%; background-color: #FFCF78;border: 0px; color: #43310B; font-weight: 400;" > Log in </button>

                            </form>
                            <div class="col-md-6 col-sm-12"
                                style="margin-top: 15%; border: 1px solid #CACACA; width: 100%; border-radius: 5px; padding: 40px;">
                                <h1>Inscrever-se</h1>
                                <p>Faça login com os dados inseridos durante seu cadastro.</p>

                                <button type="submit" class="btn btn-primary" style="width: 100%; background-color: #FFCF78;border: 0px; color: #43310B; font-weight: 400;" >
                                    <a style="color: #864E04; text-decoration: none;" href="/cadastro">Cadastre-se</a>
                                </button>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ('partials/footer.ejs') %>