@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

:root{
    --fundo: #FEF5E5 ;
    --texto: #43310B;
    --botao: #FFCF78;
}

.section1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.esquerdo, .direito {
    flex: 1;
}


.box1, .box2 {
    width: 100%;
    height: 100%;
    position: relative;
}
.box1 {
    width: 50vw;
    height: 100vh;
    background-image: url('/imgs/fundo-login.png');
    background-size: cover; /* Faz com que a imagem cubra todo o espaço */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem no contêiner */
    display: flex;
    justify-content: center;
    

}
.box1>img{
    margin-top: 10vh;
    width: 500px;
    height: 211.30px;
}
.box2 {
    background-color: var(--fundo);
    display: flex;
    justify-content: center;
    
    
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    .esquerdo {
        display: none;
    }
    .direito {
        flex: 1 0 100%; /* Ocupa todo o espaço disponível */
    }
    .box2{
        margin-left:20px ;
        margin-right: 20px;
        display: flex;
    }
    .box2>.ajusta{
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media(max-width:1018px){
    .box1>img{
        margin-top: 10vh;
        width: 400px;
        height: 169.04px;
    }
}




/* css home */


.active{
    background-color: #E0E0E0;
}


.div-recepicao{
    background-color: #FFFFFF;
    width: 95%;
    height: 70px;
    margin-bottom: 20px;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    margin-left: auto;
    
}

.div-infos{
    background-color: #FFCF78;
    width: 95%;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 10px; 
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

.div-logout{
    align-items: center;
    justify-content: right;
    display: flex;
    margin-left: auto;
    padding-right: 10px;

}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #7c6d52!important; /* Escolha a cor desejada */ 
  }

p{
    font-family: 'inter-medium';
    font-size: 17px;
    color: #0A0A0A;
}


@font-face {
    font-family:'inter-medium' ;
    src: url(../font/font-Inter/Inter-Medium.otf);
  }