@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}
:root{
    --fundo: #FEF5E5 ;
    --texto: #43310B;
    --botao: #FFCF78;
}

.section1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.esquerdo, .direito {
    flex: 1;
}


.box1, .box2 {
    width: 100%;
    height: 100%;
    position: relative;
}
.box1 {
    width: 50vw;
    height: 100vh;
    background-image: url('/imgs/fundo-login.png');
    background-size: cover; /* Faz com que a imagem cubra todo o espaço */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem no contêiner */
    display: flex;
    justify-content: center;
    

}
.box1>img{
    margin-top: 10vh;
    width: 500px;
    height: 211.30px;
}
.box2 {
    background-color: var(--fundo);
    display: flex;
    justify-content: center;
    
    
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    .esquerdo {
        display: none;
    }
    .direito {
        flex: 1 0 100%; /* Ocupa todo o espaço disponível */
    }
    .box2{
        margin-left:20px ;
        margin-right: 20px;
        display: flex;
    }
    .box2>.ajusta{
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media(max-width:1018px){
    .box1>img{
        margin-top: 10vh;
        width: 400px;
        height: 169.04px;
    }
}




/* css home */


.active{
    background-color: #E0E0E0;
}


.div-recepicao{
    background-color: #FFFFFF;
    width: 95%;
    height: 70px;
    margin-bottom: 20px;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    margin-left: auto;
    
}

.div-infos{
    background-color: #FFCF78;
    width: 95%;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 10px; 
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

.div-logout{
    align-items: center;
    justify-content: right;
    display: flex;
    margin-left: auto;
    padding-right: 10px;

}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #7c6d52!important; /* Escolha a cor desejada */ 
  }

p{
    font-family: 'inter-medium';
    font-size: 17px;
    color: #0A0A0A;
}


@font-face {
    font-family:'inter-medium' ;
    src: url(../font/font-Inter/Inter-Medium.otf);
  }









  /* teste */




  .container-login-cadastro {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
}

.image-side {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #FEF5E5;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foreground-image {
    position: absolute;
    top: 10%;
    width: 50%;
    height: auto;
    z-index: 1;
}

.form-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FEF5E5;
    padding: 20px;
    overflow: auto;
}

form {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

.login-info, .signup-info {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #F2B84D;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
}

button:hover {
    background-color: #CE7D0A;
}

.signup {
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 9px;
    border-radius: 3px;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #F2B84D;
    border: none;
    color: #000000;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #CE7D0A;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-side, .form-side {
        flex: none;
        width: 100%;
        height: auto;
    }

    .image-side {
        height: 40vh;
    }

    .form-side {
        justify-content: flex-start;
        padding: 20px;
        height: auto;
    }

    form, .signup {
        margin: 10px 30px;
    }
}


/* CSS específico para a sidebar */
/* Estilos para a sidebar */

.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #F5F5F5;
    color: #212143;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position: fixed; /* Para manter a sidebar fixa na tela */
    margin-top: 60px; /* Espaço para a header */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar > ul > li > a{
    text-decoration: none;
    color: #000000;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-item:hover {
    background-color: #E0E0E0;
}

.sidebar-item.selected {
    background-color: #E0E0E0;
}

.sidebar-icon {
    margin-right: 10px;
    width: 30px; /* Aumentando o tamanho do ícone */
    height: 30px; /* Aumentando o tamanho do ícone */
}

/* Estilos para a div ao lado da sidebar */

.extra-content {
    margin-top: 60px; /* Espaço acima da div */
    margin-left: 300px; /* Largura da sidebar */
    height: calc(100vh - 60px); /* Altura restante da tela */
    width: calc(100vw - 300px); /* Largura restante da tela */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed; /* Mantém fixo em relação à tela */
}

.extra-content > div {
    width: 100%; /* Largura total */
    height: 100vh; /* Altura total */
    background-color: #FEF5E4; /* Cor de fundo */
}


.ajustaindex{
    margin-left: 300px;
}
/* Responsividade */

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .extra-content {
        display: none; /* Oculta a div ao lado em telas menores */
    }
    .ajustaindex{
        margin-left: 0px;
    }
}


/* header */

/* Estilos para a header */
.header {
    width: 100%;
    height: 60px;
    background-color: #FFCF78;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000; /* Para garantir que a header fique sobre outros elementos */
}

.header-logo {
    height: 40px;
}

.header-user {
    display: flex;
    align-items: center;
}

.header-user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* Ajuste da área de conteúdo para dar espaço para a header */
.content {
    margin-top: 60px; /* Espaço para a header */
}

/* Responsividade */
@media (max-width: 768px) {
    .header {
        height: 50px;
        padding: 0 10px;
    }

    .header-logo {
        height: 30px;
    }

    .header-user-photo {
        width: 30px;
        height: 30px;
    }

    .content {
        margin-top: 50px; /* Espaço para a header em telas menores */
    }
}


/* funcionarios */

